.container {
  width: 100%;
  height: 100%;
  color: yellow;
  background-color: black;
  /* overflow: hidden; */
}

.text {
  position: absolute;
  width: 45%;
  height: 100%;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  overflow: hidden;
}

.text::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

.content {
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 80s linear 0s infinite;
  animation: scroll 80s linear 0s infinite;
}
@-webkit-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
.title {
  display: flex;
  justify-content: center;
}
